@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  color: rgb(245, 246, 215);
  font-family: "Nanum Pen Script", cursive;
  font-weight: 900;
}

body {
  /* font: 40px "Century Gothic", Futura, sans-serif; */
  font-size: 40px;
  background: #91b96e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

ol,
ul {
  padding-left: 100px;
}

.title {
  text-align: center;
  width: 50vw;
  margin: auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  text-align: center;
  margin: 10px;
  border-radius: 30px;
  padding: 5px 0;
  font-size: 50px;
}

.square {
  font-size: 74px;
  background: rgb(248, 244, 191);
  border: 2px solid rgb(219, 210, 124);
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 152px;
  margin-bottom: -10px;
  padding: 0;
  text-align: center;
  width: 152px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 50px;
}

.listMoves {
  height: 40vh;
  list-style: none;
  margin-right: 90px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

button {
  background: rgb(76, 119, 51);
  border: none;
  margin-top: 10px;
  border-radius: 30px;
  box-shadow: 6px 6px rgba(200, 255, 50, 0.514);
}

.moves {
  font-size: 40px;
}

.moves:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.moves:focus {
  background-color: rgb(118, 156, 68);
  border: none;
  outline: none;
}

.square:hover {
  cursor: pointer;
  animation: changeColor 800ms forwards;
}

.emojis:hover {
  animation: viber 200ms infinite;
}

@keyframes changeColor {
  to {
    background: rgb(242, 250, 171);
    border: 2px solid rgb(76, 119, 51, 0.4);
  }
}

@keyframes viber {
  20% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 1024px) {
  .game {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .square {
    font-size: 54px;
    margin-bottom: -10px;
    padding: 0;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  .status {
    margin: 20px;
    padding: 5px 0;
    font-size: 40px;
  }
  .listMoves {
    margin: 20px;
    padding: 5px 0;
    overflow: visible;
  }
  .game-info {
    text-align: center;
    margin: auto;
  }
  button {
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 6px 6px rgba(200, 255, 50, 0.514);
  }
  .moves {
    font-size: 30px;
  }
  ol,
  ul {
    padding-left: 0;
  }
  .title {
    margin-top: 200px;
    font-size: 25px;
    text-align: center;
    width: 100vw;
  }
  .board-row {
    display: flex;
    justify-content: center;
  }
}
